<!DOCTYPE html>
<html>
  <head>
    <title>XYCombinator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui text container">
      <div class="ui text menu header">
        <a href="/" class="item">
          <img src="/tree_color.png" class="ui tiny image" alt="logo"/>
        </a>
        <div class="ui stackable right text menu">
          <a class="item" href="/tasks">Tasks </a>
          <a class="item" href="/">XYC Startups </a>
          <a class="item" href="/research">XYC Research </a>
        </div>
      </div>
    </div>
    <div class="container ui text app_wrapper">
      <%= yield %>
    </div>
    <div class="ui container text">
      <div class="ui basic padded center aligned segment">
        <p>
          <span>© 2017</span>
          <br/>
          <span> Demo By <a class="item" href="github.com/conanbatt/XYCombinator">Conanbatt</a> </span>
          <br/>
          <span> All rights waivered </span>
        </p>
        <img src="/zcomb-tree_green.png" width="150" height="150"/>
      </div>
    </div>
  </body>
</html>
